
.heading{
  padding-top: 16px;
}

.about_content{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  width: 70%;
  margin : auto;
  margin-top : 64px;
  min-height : 50vh;
  text-align: center;
  line-height: 2;
}

.about_content .subtitle{
  margin-bottom: 32px;
}

.about_content p{
  margin-bottom: 24px;
  padding: 8px;
  letter-spacing: 1.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
  margin: auto;
}

.about_content img{
  width: 32px;
  height: 32px;
  margin-right: 8px;
}


.social_icons{

  width: 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 32px;
}

.social_icons img{
  width: 30px;
}

.about_content .last_line{
  flex-direction: column;
  margin-top: 32px;
}



@media (max-width : 1250px) {
  .about_content{
    width: 85%;
  }
}



@media (max-width:1023px) {
  .about_content{
    width: 90%;
  }

  .social_icons{
    width: 30%;
  }
}


@media (max-width : 767px) {

.about_content p{
  margin: auto;
  width: 100%;
}

.heading{
  padding-top: 16px;
}

  .heading h1{
    width: 90%;
    margin: auto;
  }



  .about_content {
    width: 95%;
    margin-top: 32px;
  }
  .about_content p{
    font-size: 12px;
  }

  .social_icons{
    width: 50%;
  }




  .about_content{
    text-align: left;
  }

  .about_content p{
    justify-content: flex-start;
    line-height: 1.5;
    font-size: 15px;
  }


  p.last_line{
    display: none;
  }


  .social_icons{
    width: 20%;
  }

  .social_icons img{
    width: 20px;
  }
}


@media (max-height : 810px) {
  .decide{
    position: static;
    display: block;
    transform: translateX(0);
    margin: auto;
    margin-bottom: 64px;
  }

  .social_icons{
      margin-top: 20px;
  }
}
