@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&family=Roboto:ital,wght@0,300;0,500;0,700;1,400&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color :white;
}

body{
  min-width: 100vw;
  min-height: 100vh;
  background: black;

}

.nav{
  padding: 32px;
  text-align: right;

}

.nav .about{
  color : white;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color : #fbd2d7;
  /* padding-right:64px; */
}


.content_container{
    display: grid;
    width: 80%;
    grid-template-columns: 1fr;
    width: 80%;
    margin: auto;
    justify-content: center;
    padding-top: 20vh;


}


.s1{
  text-align: center;
  transition: 0.5s;
  animation: 4s fadein ;
  min-height: 50vh;
}


.s1 .title h1{
  font-family: 'Playfair Display', serif;
  font-size: 88px;
  font-weight: 500;
  margin-bottom: 64px;
}

.s1 .descp p{
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  width: 80%;
  margin: auto;
  margin-top: 8px;

}

.s2{
  transition: 0.5s;
  animation: 4s fadein ;
  display: flex;
  justify-content: center;
  align-items: center;
}

.s2 a{
  display: block;
  width: 60%;
  padding: 16px   32px;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.s2 .try{
  background: #fbd2d7;
  color : black;
  margin-bottom: 32px;
}

.decide{
  width: 80%;
  margin: auto;
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
}

.decide a{
  color : black;
  background: #fbd2d7;
  display: block;
  text-align: center;
  width: 40%;
  margin: auto;
  padding: 16px 32px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 19px;
  margin-top: 32px;
  text-transform: capitalize;
  letter-spacing: 1.5px;
}


@keyframes fadein {
  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}


@media (max-width : 1250px) {
  .content_container{
    width: 85%;
  }
}


@media (max-width : 1023px) {
  .s1 .title h1{
    font-size: 70px;
  }

  .s1 .descp p{
    font-size: 20px;
  }
}

@media (max-width : 767px) {

  .nav .about{
    font-size: 16px;
  }

  .content_container{
    display: grid;
    grid-template-columns: 1fr;

    height: 95vh;
    transform: translateY(0);
    padding-top: 0;
    flex-direction: column;
  }

  .decide{
    bottom: 128px;
  }


  .s1{
    margin-top: 30%;
    text-align: center;
    min-height: 30vh;
  }


  .s1 .title h1{
    font-size: 70px;
    font-weight: 400;
    margin-bottom: 64px;
  }

  .s1 .descp p {
    width: 100%;
    font-size: 24px;
    font-weight: 400;
  }

  .s2{
    flex-direction: column;
    width: 100%;
  }

  .s2 .try{
    width: 80%;
  }

  .s2 .about{
    display: block;
  }

  .decide{
    padding-bottom: 16px;
  }

  .decide a{
    width: 80%;

  }
}

@media (max-height : 646px) {
  .s1 {
    margin-top: 15%;
  }
}
