@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&family=Roboto:ital,wght@0,300;0,500;0,700;1,400&display=swap');

@font-face {
  font-family: 'School-Holic-5-School-Holic-5';
    src:  url('School-Holic-5-School-Holic-5.ttf.woff') format('woff'),
    url('School-Holic-5-School-Holic-5.ttf.svg#School-Holic-5-School-Holic-5') format('svg'),
    url('School-Holic-5-School-Holic-5.ttf.eot'),
    url('School-Holic-5-School-Holic-5.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color :white;
}

body{
  min-width: 100vw;
  min-height: 100vh;
  background: black;
  position: relative;
}

.content_container{
  overflow: hidden;
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
}


.heading{
  font-family: 'School-Holic-5-School-Holic-5';
  text-align: center;
  padding-top: 128px;
}

.heading h1{
  color: #fbd2d7;
  font-weight: lighter;
  text-transform: uppercase;
  font-size: 52px;
}


.ans{
  font-family: 'School-Holic-5-School-Holic-5';
  font-weight: 400;
  font-size: 43px;
  text-align: center;
  padding: 64px;
  width: 80%;
  margin: auto;
  margin-top: 7%;
  text-transform: uppercase;
}


.decide{
  width: 32%;
  margin: auto;
  position: absolute;
  bottom: 128px;
  left: 50%;
  transform: translateX(-50%);
  background: black;
  z-index: 3;
}

.decide a{
  color : black;
  background: #fbd2d7;
  display: block;
  text-align: center;
  width: 90%;
  margin: auto;
  padding: 16px 32px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 19px;
  margin-top: 32px;
  text-transform: capitalize;
  letter-spacing: 1.5px;
}


.decide{
  border : 1px solid #fbd2d7;

}

.decide a{
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  background: black;
  color : #fbd2d7;
  margin-top: 0;


}


.info{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

.info a{
  text-decoration: none;
}


.images img{
  position: absolute;
  width: 200px;
}

.star1{
  top : 0;
  left: 0;
  transform: translate(-50%,-50%);
}
.star2{
  top:0;
  right : 0;
  transform: translate(50%,-50%);
}

.star3{
  top : 50%;
  left : 0;
  transform: translate(0%,-50%);
}
.star4{
  top : 50%;
  right : 0;
  transform: translate(0%,-50%);
}

.circle1{
  top:0;
  left : 50%;
  transform: translate(-50%,-50%);
}

.circle2{
  bottom:0;
  left : 50%;
  transform: translate(-50%,50%);
}

.cross1{
  bottom: 10px;
  left: 10px;
  width: 50px!important;
}

.cross2{
  bottom: 10px;
  right: 10px;
  width: 50px!important;
}

@media (max-width:1023px) {

  .ans{
    margin-top: 20%;
    font-size: 43px;
  }
  .images img{
    width: 130px;
  }
}


@media (max-width:767px) {

  body{
    height: 90vh;
  }

  .ans{
    width: 95%;
    min-height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 43px;
    padding-bottom: 32px;
    word-wrap: break-word;
  }

  /* .ans p{
    width: 85%;
  } */
  .images img{
    width: 150px;
  }
  .heading h1{
    font-size: 32px;
  }

  .decide{
    padding-bottom: 0;
  }

  .decide{
    width: 64%;
  }

  .decide a{
    width: 80%;

  }



  .star3,.star4{
    width: 70px!important;
  }


  .cross1 ,.cross2{
    bottom: 128px;
  }


}


@media (max-height : 660px) {
  .decide , .info{
    position: static;
    transform: translateX(0);
    margin-bottom: 16px;
  }

}
